:root {
    --color-grey: #606264;
    --color-lightgrey: #a0a2a4;
    --color-crimson: #b33243;
    --color-eggplant: #323268;
    --color-eggplant-dark: #202050;
    --color-blueberry: #21568a;
    --color-blueberry-light: #21568a66;
    --color-peach: #f2b5a7;
    --color-gold: #f2dd72;
    --color-sea: #4d868c;
    --color-note: #1d568c;
    --color--error: orange;
    --color--warning: darkorange;
    --color--danger: red;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: var(--color-blueberry);
    text-decoration-color: var(--color-blueberry-light);
    transition: text-decoration-color 250ms;
    text-underline-offset: 0.1em;
}
a:hover, a:active {
    text-decoration-color: var(--color-blueberry);
}

